<ds-themed-results-back-button *ngIf="showBackButton | async" [back]="back"></ds-themed-results-back-button>
<div class="row" *ngIf="iiifEnabled">
  <div class="col-12">
    <ds-mirador-viewer id="iiif-viewer"
                   [object]="object"
                   [searchable]="iiifSearchEnabled"
                   [query]="iiifQuery$ | async">
    </ds-mirador-viewer>
  </div>
</div>

<div class="d-flex flex-row">
  <ds-themed-item-page-title-field [item]="object" class="mr-auto">
  </ds-themed-item-page-title-field>
  <ds-dso-edit-menu></ds-dso-edit-menu>
</div>

<!-- Left Sidebar -->
<div class="row">
  <div class="col-xs-12 col-md-4">
    <!-- Thumbnail -->
    <ng-container *ngIf="!(mediaViewer.image || mediaViewer.video)">
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-themed-thumbnail [thumbnail]="object?.thumbnail | async"></ds-themed-thumbnail>
      </ds-metadata-field-wrapper>
    </ng-container>
    <div *ngIf="mediaViewer.image || mediaViewer.video" class="mb-2">
      <ds-themed-media-viewer [item]="object"></ds-themed-media-viewer>
    </div>

    <!-- Files -->
    <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>

    <!-- Permanent Link -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'">
    </ds-item-page-uri-field>

    <!-- Collections -->
    <ds-item-page-collections [item]="object"></ds-item-page-collections>

    <!-- Full item page -->
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>

  <!-- Page Center -->
  <div class="col-xs-12 col-md-6">
    <!-- Author/Creator -->
    <ds-themed-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.creator', 'dc.contributor.author']"
      [label]="'relationships.isAuthorOf' | translate">
    </ds-themed-metadata-representation-list>

    <!-- Author/Creator ORCID -->
    <ds-item-page-uri-field [item]="object"
      [fields]="['dcterms.creator']"
      [label]="'relationships.isAuthorOf.Orcid'">
    </ds-item-page-uri-field>

    <!-- Date -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.date', 'dc.date.issued', 'dc.date.created',
                 'dc.date.copyright', 'dctermscreated', 'dctermsdate',
                 'dcterms.dateAccepted', 'dcterms.dateCopyrighted',
                 ]"
      [label]="'item.page.date'">
    </ds-generic-item-page-field>

    <!-- Type of Work-->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.genre', 'dc.type', 'dc.format', 'dcterms.format']"
      [label]="'item.page.typeOfWork'">
    </ds-generic-item-page-field>

    <!-- Department -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.contributor.department']"
      [label]="'item.page.department'">
    </ds-generic-item-page-field>

    <!-- Program -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.contributor.program']"
      [label]="'item.page.program'">
    </ds-generic-item-page-field>

    <!-- Citation of Original Publication -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation', 'dcterms.bibiographicCitation']"
      [label]="'item.page.citation'">
    </ds-generic-item-page-field>

    <!-- Rights -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.rights', 'dcterms.accessRights']"
      [label]="'item.page.rights'">
    </ds-generic-item-page-field>

    <!-- Subjects -->
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject', 'dc.subject.lcsh', 'dc.subject.mesh', 'dc.coverage.temporal', 'dc.coverage.spatial']"
      [label]="'item.page.subject'">
    </ds-generic-item-page-field>

    <!-- Abstract -->
    <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>
  </div>
</div>
