<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 community_footer">
        <div>
          <img class="community_footer_logo" src="assets/mdsoar-ubalt/images/community_logo.png">
          <p>
            <br>
                                  Robert L. Bogomolny Library<br>
                                  University of Baltimore<br>
                                  1420 Maryland Ave.<br>
                                  Baltimore, MD 21201<br>
                                  Email: <a href="mailto:knowledgeworks@ubalt.edu">knowledgeworks&#64;ubalt.edu</a>
          </p>
          <hr>
          <ds-umd-footer-accessibility></ds-umd-footer-accessibility>
        </div>
      </div>
    </div>
    <a class="hidden" href="/htmlmap">&nbsp;</a>
    <p>&nbsp;</p>
  </div>
</footer>
