<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 community_footer">
        <div>
          <img class="community_footer_logo" src="assets/mdsoar-towson/images/community_logo.png">
          <p>
            <br>
                                  Towson University<br>
                                  8000 York Road<br>
                                  Towson, Maryland 21252<br>
            <br>
                                  Website:<br>
            <a href="http://www.towson.edu">www.towson.edu</a>
            <br>
            <br>
                                  Contact Info:<br>
            <a href="mailto:azukowski@towson.edu">azukowski&#64;towson.edu</a>
            <br>
            <a href="tel:4107045318">410-704-5318</a>
            <br>
            <a href="http://libraries.towson.edu/md-soar">http://libraries.towson.edu/md-soar</a>
            <br>
          </p>
          <hr>
          <p>
                                  If you wish to submit a copyright complaint or withdrawal request, please email
                                  <a href="mailto:mdsoar-help@umd.edu?subject=Takedown%20Request&body=In%20your%20request,%20please%20include%20a%20link%20to%20the%20resource">mdsoar-help&#64;umd.edu</a>.
          </p>
        </div>
      </div>
    </div>
    <a class="hidden" href="/htmlmap">&nbsp;</a>
    <p>&nbsp;</p>
  </div>
</footer>
