<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 community_footer">
        <div>
          <img class="community_footer_logo" src="assets/mdsoar-umbc/images/community_logo.png">
          <p>
            <br>
                                  Albin O. Kuhn Library &amp; Gallery<br>
                                  University of Maryland, Baltimore County<br>
                                  1000 Hilltop Circle<br>
                                  Baltimore, MD 21250<br>
            <a href="http://www.umbc.edu/scholarworks">www.umbc.edu/scholarworks</a>
            <br>
            <br>

                                  Contact information:<br>
                                  Email: <a href="mailto:scholarworks-group@umbc.edu">scholarworks-group&#64;umbc.edu</a>
            <br>
                                  Phone: <a href="tel:4104553544">410-455-3544</a>
            <br>
          </p>
          <hr>
          <ds-umd-footer-accessibility></ds-umd-footer-accessibility>
        </div>
      </div>
    </div>
    <a class="hidden" href="/htmlmap">&nbsp;</a>
    <p>&nbsp;</p>
  </div>
</footer>
