<footer>
  <div class="container">
    <div class="row">

    <div class="col-xs-12 col-sm-12 community_footer">
    <div>
    <img class="community_footer_logo" src="assets/mdsoar-bowie-state/images/community_logo.jpg"><p>
    <br>
                                    Thurgood Marshall Library<br>
                                    Bowie State University<br>
                                    14000 Jericho Park Road<br>
                                    Bowie, MD 20715-9465<br>
    <a href="https://bowiestate.libguides.com/home">https://bowiestate.libguides.com/home</a>
    <br>
    <br>
                                    E-mail: <a href="mailto:archives@bowiestate.edu">archives&#64;bowiestate.edu</a>
    <br>
                                    Phone: <a href="tel:3018603627">301-860-3627</a>
    </p>
    <hr>
    <p>
                                    If you wish to submit a copyright complaint or withdrawal request, please email
                                    <a href="mailto:mdsoar-help@umd.edu?subject=Takedown%20Request&amp;body=In%20your%20request,%20please%20include%20a%20link%20to%20the%20resource">mdsoar-help&#64;umd.edu</a>.
                                </p>
    </div>
    </div>
    </div>
    <a class="hidden" href="/htmlmap">&nbsp;</a>
    <p>&nbsp;</p>
  </div>
</footer>
