<h1>
  {{ 'info.umd-accessibility.head' | translate }}
</h1>

<p>
  This page provides detailed information about the accessibility of the MD-SOAR
  platform. While efforts are being made to achieve full Title II compliance, we
  appreciate the adverse impacts that non-accessible platforms and content have
  on users. Please refer to this site for information about the state of our
  platform and records.
</p>

<h2>
  Platform accessibility
</h2>

<p>
  MD-SOAR uses <a href="https://dspace.org">DSpace software</a> as its
  underlying infrastructure. Information about the accessibility of DSpace can
  be found on the
  <a href="https://dspace.org/accessibility/">vendor-supplied Accessibility
    page</a>.
  Here, you will find the vendor accessibility statement, a brief overview
  of their accessibility testing methodology, and links to their most recent
  VPATs. Furthermore, USMAI documentation of platform accessibility is available
  on the
  <a
    href="https://usmai.org/portal/spaces/SYSTEMS/pages/377323599/MD-SOAR+accessibility+documentation">
    MD-SOAR system accessibility page on the USMAI Portal</a>.
</p>

<p>
  Per the latest DSpace VPAT - dated November 17, 2025 - DSpace largely conforms
  to WCAG 2.1 AA standards. While there are a few notable factors that are not
  fully supported, the VPAT indicates that there are development tickets that
  aim to address these issues. These issues include:
</p>

<ul>
  <li>
    WCAG 2.x, Level A
    <ul>
      <li>1.1.1 Non-text Content</li>
      <li>1.2.1 Audio-only and Video-only (prerecorded)</li>
      <li>1.2.3 Audio description or media alternative (prerecorded)</li>
    </ul>
  </li>
  <li>
    WCAG 2.x, Level AA
    <ul>
      1.2.3 Audio description (prerecorded)
    </ul>
  </li>
</ul>

<p>
  We acknowledge that these outstanding compliance issues may cause difficulty
  for some users to access content on MD-SOAR. However, we are confident that
  efforts by the DSpace developers will lead to a timely solution to these
  issues.
</p>

<h2>
  Content accessibility
</h2>

<p>
  Content on MD-SOAR, sometimes referred to as bitstreams, includes a variety of
  formats, including conventional word documents such as PDFs, Word documents,
  and TXT files, research data, audiovisual materials, digitized archival
  documents, and more. While we appreciate that providing accessible formats for
  every document is the expectation for Title II compliance, remediating our
  legacy content - consisting of over 30,000 individual records - is not
  achievable given our currently available resources. While we are happy to
  provide on-demand remediation services for individual records (see
  <a [routerLink]="'.'" fragment="requesting-record-remediation">
    Requesting record remediation
  </a>
  for more information), we are currently working to identify a manageable
  workflow for remediating our legacy content. More information on this effort
  will be made available in the future.
</p>

<p>
  Please note that the materials held on MD-SOAR are maintained for reference,
  research, and record-keeping purposes only. Use of these materials in
  classroom settings or for instructional purposes may require material
  remediation in order to remain compliant with Title II requirements.
</p>

<h2>
  Roadmap for addressing accessibility issues
</h2>

<p>
  As we continue our efforts towards full compliance with Title II regulations,
  we have created the following roadmap to lead our efforts.
</p>

<h3>
  Short term
</h3>

<ul>
  <li>
    Add accessibility page to MD-SOAR detailing our current known accessibility
    issues and a roadmap towards compliance
  </li>
  <li>
    Add a hyperlink to global site footer that links to the accessibility page
    and
    a direct link to remediation request instructions
  </li>
  <li>
    Add metadata to all MD-SOAR records that indicate their archival and
    research
    purpose
  </li>
  <li>
    Add a pop-up message for new submissions that alert record submitters to the
    expectation of accessible content on MD-SOAR
  </li>
</ul>

<h3>
  Medium term
</h3>

<ul>
  <li>
    Continued monitoring of DSpace development on known accessibility issues
  </li>
  <li>
    Regular review of accessibility monitoring for MD-SOAR via SiteImprove in
    order to identify and address global accessibility issues
  </li>
  <li>
    Continued monitoring of available accessibility and remediation tools in
    order to identify a sustainable, cost-effective methodology for remediating
    legacy content and integrated remediation of new submissions
  </li>
</ul>

<h2 id="requesting-record-remediation">
  Requesting record remediation
</h2>

<p>
  If you require remediation of a specific MD-SOAR record, please email
  <a href="mailto:mdsoar-help@umd.edu">mdsoar-help&#64;umd.edu</a>.
</p>

<p>
  In your message, please include the following details:
</p>

<ul>
  <li>
    A link to the record such as the URL (e.g.
    https://mdsoar.org/items/12345678-1234-5678-842e-12345678901234567) or the
    record's permanent link (e.g. http://hdl.handle.net/11603/12345)
  </li>
  <li>
    A brief description of the accommodation that is required (i.e. an accessible
    PDF format, audio transcription, etc.)
  </li>
</ul>

<p>
  After receipt of this request, a message will be sent to the responsible
  institution alerting them to the remediation request. Once available, an
  accessible copy of the record in question will be forwarded to the requestor
  and the accessible copy will be added to the publicly-available MD-SOAR
  record. Please note that due to the varying capacity of our institutions, we
  cannot provide a concrete timeline for responses to remediation requests.
</p>
