<p>
  If you wish to submit a copyright complaint or withdrawal request, please email
  <a href="mailto:mdsoar-help@umd.edu?subject=Takedown%20Request&body=In%20your%20request,%20please%20include%20a%20link%20to%20the%20resource">mdsoar-help&#64;umd.edu</a>.
</p>

<p>
  For MD-SOAR accessibility information, please visit our
  <a [routerLink]="'/info/mdsoar-accessibility'">accessibility page</a>. For
  information on requesting a remediated copy of a record, please
  review
  <a [routerLink]="'/info/mdsoar-accessibility'" fragment="requesting-record-remediation">steps for requesting remediation</a>.
</p>
