<footer>
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 community_footer">
    <div>
    <img class="community_footer_logo" src="assets/mdsoar-goucher/images/community_logo.png"><p>
    <br>
                                    Goucher College<br>
                                    1021 Dulaney Valley Road<br>
                                    Baltimore, MD 21204<br>
    <br>
    <a href="https://www.goucher.edu">www.goucher.edu</a>
    <br>
    <br>
                                    Contact Information:<br>
    <a href="mailto:courtney.douglass@goucher.edu">courtney.douglass&#64;goucher.edu</a>
    <br>
    <a href="https://libraryguides.goucher.edu/c.php?g=1393713&amp;p=10311623">eScholarship&#64;Goucher</a>
    </p>
    <hr>
    <ds-umd-footer-accessibility></ds-umd-footer-accessibility>
    </div>
    </div>
    </div>
    <a class="hidden" href="/htmlmap">&nbsp;</a>
    <p>&nbsp;</p>
  </div>
</footer>
