<footer>
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 community_footer">
    <div>
    <img class="community_footer_logo" src="assets/mdsoar-goucher/images/community_logo.png"><p>
    <br>
                                    Goucher College<br>
                                    1021 Dulaney Valley Road<br>
                                    Baltimore, MD 21204<br>
    <br>
    <a href="http://www.goucher.edu">www.goucher.edu</a>
    <br>
    <br>
                                    Contact Information:<br>
    <a href="mailto:kristen.welzenbach@goucher.edu">kristen.welzenbach@goucher.edu</a>
    <br>
    <a href="http://library.goucher.edu/md-soar">library.goucher.edu/md-soar</a>
    </p>
    <hr>
    <p>
                                    If you wish to submit a copyright complaint or withdrawal request, please email
                                    <a href="mailto:mdsoar-help@umd.edu?subject=Takedown%20Request&amp;body=In%20your%20request,%20please%20include%20a%20link%20to%20the%20resource">mdsoar-help@umd.edu</a>.
                                </p>
    </div>
    </div>
    </div>
    <a class="hidden" href="/htmlmap">&nbsp;</a>
    <p>&nbsp;</p>
  </div>
</footer>
