<div class="container">
  <div class="jumbotron jumbotron-fluid mt-ncs">
    <div class="d-flex flex-wrap">
      <div>
        <h1>Maryland Shared Open Access Repository</h1>
        <p class="lead">
          MD-SOAR is a shared digital repository platform for twelve colleges
          and universities in Maryland. It is currently funded by the
          University System of Maryland and Affiliated Institutions (USMAI)
          Library Consortium (usmai.org) and other participating partner
          institutions. MD-SOAR is jointly governed by all participating
          libraries, who have agreed to share policies and practices that are
          necessary and appropriate for the shared platform. Within this broad
          framework, each library provides customized repository services and
          collections that meet local institutional needs. Please follow the
          links below to learn more about each library's repository services
          and collections.
        </p>
      </div>
    </div>
  </div>
</div>
