<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 community_footer">
        <div>
          <img class="community_footer_logo" src="assets/mdsoar-st-marys/images/community_logo.png">
          <p>
            <br>
                                  St. Mary's College of Maryland Library<br>
                                  47645 College Drive<br>
                                  St. Mary's City, MD 20686<br>
            <br>
            <a href="http://www.smcm.edu/library">http://www.smcm.edu/library</a>
            <br>
            <br>
                                  Email: <a href="mailto:khryner@smcm.edu">khryner@smcm.edu</a>
            <br>
                                  Phone: <a href="tel:2408954260">240-895-4260</a>
            <br>
          </p>
          <hr>
          <p>
                                  If you wish to submit a copyright complaint or withdrawal request, please email
                                  <a href="mailto:mdsoar-help@umd.edu?subject=Takedown%20Request&body=In%20your%20request,%20please%20include%20a%20link%20to%20the%20resource">mdsoar-help@umd.edu</a>.
          </p>
        </div>
      </div>
    </div>
    <a class="hidden" href="/htmlmap">&nbsp;</a>
    <p>&nbsp;</p>
  </div>
</footer>
