<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 community_footer">
        <div>
          <img class="community_footer_logo" src="assets/mdsoar-morgan/images/community_logo.png">
          <p>
            <br>
                                  Growing the Future, Leading the World!
            <br>
          </p>
          <hr>
          <ds-umd-footer-accessibility></ds-umd-footer-accessibility>
        </div>
      </div>
    </div>
    <a class="hidden" href="/htmlmap">&nbsp;</a>
    <p>&nbsp;</p>
  </div>
</footer>
